<h1>display question</h1>
<!-- display question -->
<!-- list all answers, on-click highlight answer -->
<!-- submit choice -->


<!-- note: keep display architecture such that it can support questions requiring more than one answer -->