<h1>waiting for winner</h1>
<!-- polls for selected_winner? -->
<!-- displays answers submitted so far -->
<!-- perhaps a piece of logic that re-renders partial only if there is an update to the current screen (compare number of answers) -->