<h1>waiting for more players</h1>
<!-- display list of players (list will update during polling) -->
<!-- if player: start polling -->
<!-- if judge: have a start game button disabled until 3 players or more -->