<h1>waiting for more players</h1>
<!-- display list of players (list will update during polling) -->
<!-- if player: start polling -->
<!-- if judge: have a start game button disabled until 3 players or more -->

<div class="box">
  <h2>Members</h2>
  <% @game.players.each do |player| %>
    <p>
      <span>
        <%= player.handle  %>
        <% if player.id == @game.judge_id %>
          &nbsp;&nbsp;&nbsp; -- Game Creator --
        <% end %>
      </span>

    </p>
  <% end %>
</div>
<br>
<br>
<% if @player.judge %>
  <button onclick='startGame()'>start game</button>
<% end %>

<script type="text/javascript">

  var pollNewPlayers = function(){
    console.log('in poll new players');
    // $.get("<%= game_waiting_for_game_to_start_path(game_id: @game.id, player_id: @player.id) %>"), function(data){
    //   console.log('in get function')
    // };

    $.ajax({
      type: 'get',
      dataType: 'json',
      url: "<%= game_waiting_for_game_to_start_path(game_id: @game.id, player_id: @player.id) %>",
      success: function(data){
        console.log('success');
        console.log('status: ' + data['status'])
        $('#main-content').html(data['html']);
        // setTimeout(pollNewPlayers, 2000);
      }
    })
  };
</script>


<script type="text/javascript">
  var startGame = function(){
    console.log('')
    $.get("<%= game_player_round_draw_card_path(game_id: @game.id, player_id: @player.id, round_id: @round.id) %>"), function(data){
      $('#main-content').html(data)
    };
  };
</script>

<script type="text/javascript">
  // setTimeout(pollNewPlayers, 2000);
</script>