<div id="main-content">
  <%= render 'waiting_for_game_to_start'  %>
</div>

<script type="text/javascript">
  var path = '<%=  game_waiting_for_game_to_start_path(game_id: @game.id, player_id: @player.id) %>'
  serverPoller = setTimeout(function(){pollServer(path)}, 2000);
</script>


